env/*
src/brats_central_*.log
src/kits_central_*.log

src/kits_fedavg_2_*.log
src/kits_fedavg_3_*.log
src/kits_fedavg_4_*.log

src/brats_fedavg_2_*.log
src/brats_fedavg_3_*.log
src/brats_fedavg_4_*.log

src/kits_fedavg_dp_2_*.log
src/kits_fedavg_dp_3_*.log
src/kits_fedavg_dp_4_*.log

src/brats_fedavg_dp_2_*.log
src/brats_fedavg_dp_3_*.log
src/brats_fedavg_dp_4_*.log

src/pt/learners/__pycache__/
src/pt/utils/__pycache__/